header.header
  .container-fuild
    .header__top
      a.logo(href='#')
        img(src='./images/logo.png', draggable="false", alt='Logo')
      nav.menu
        .header__btn-menu
          a.menu__btn#menu-trigger(href='#')
            span.menu__burger
            span.menu__exit
        ul.menu__list
          li.menu__list-item
            a(href='#about-course') О курсе
          li.menu__list-item
            a(href='#program-course') Программа
          li.menu__list-item
            a(href='#purchase') Цена
          li.menu__list-item
            a(href='#reviews-course') Отзывы
          li.menu__list-item
            a(href='#contact') Связаться с нами
      a.share-btn.share-btn--animated(href='https://t.me/cactusbek1')
        img(src='./images/icons/social-media/telegram.svg', draggable="false", alt='Telegram')
        | Связаться с верстальщиком
    .header__content
      h1.header__content-title КУРС <br> СБОРКА КОМПЬЮТЕРОВ
      h3.header__content-subtitle С НУЛЯ
      a.header__content-btn(href="#purchase") Заказать курс
  .header__bottom
    h4.header__bottom-info Курс стартует 31 декабря 2023 года. <span>Успей записаться – Сделай себе подарок на Новый Год</span>



